fastapi
uvicorn
pydantic
python-multipart
groq
langchain
langchain-groq
langchain-community
sentence-transformers
transformers
torch
faiss-cpu
unstructured
pdf2image
pytesseract
pillow
docx2txt
numpy
python-magic
pypdf2
openai-whisper
ffmpeg
setuptools-rust
python-dotenv
pdfplumber
spacy